{% from "macros/render_field.jinja" import render_field %}


{% extends "layout.jinja" %}
{% block title %}{{ _('nav_bookmark') }}{% endblock title %}


{% block link %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
{% endblock link %}


{% block nav %}
{% include "includes/navbar.jinja" %}
{% endblock nav %}


{% block style %}
<style>
    .hx-load-outer .hx-indicator {
        display: none;
    }

    .hx-load-outer.htmx-request .hx-indicator {
        display: block;
    }

    .hx-load-outer.htmx-request .hx-swap-target {
        display: none;
    }
</style>
{% endblock style %}


{% block content %}

<div class="row align-items-center" style="height: 100vh;">
    <div class="mx-auto py-4 col-10 col-md-8 col-lg-6">
        <form action="{{ form_action }}" method="{{ 'POST' if editing else 'POST' }}" autocomplete="off">
            {{ form.csrf_token }}
            {{ form.bookmark_group_id() }}

            <h1>{{ _('new_bookmark') }}</h1>
            <small class="form-text text-mute">
                {{ _('new_bookmark_help') | safe }}
            </small>


            <div class="form-group">
                {{ form.transport.label(class="form-label") }}
                {{ form.transport(class="form-select" + form_valid_class(form.transport), **{
                "hx-ext": "path-params",
                "hx-get": url_for("bookmark.routes", transport="{transport}") | unquote,
                "hx-trigger": "change" if editing else "load, change",
                "hx-target": "#nos .hx-swap-target",
                "hx-indicator": "#nos.hx-load-outer, #options.hx-load-outer"
                }) }}
                <div class="invalid-feedback">
                    {% for error in form.transport.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            </div>


            <hr class="mt-4 mb-3">

            <div id="nos" class="hx-load-outer">
                <div class="hx-indicator">
                    {# height placeholder to avoid position shift #}
                    <div class="row align-items-center justify-content-center" style="height: 102px;">
                        <div class="loader-ellipsis"></div>
                    </div>
                </div>
                <div class="hx-swap-target">
                    {% include "bookmark/partials/no_input.jinja" %}
                </div>
            </div>

            <div id="options" class="hx-load-outer">
                <div class="hx-indicator">
                    {# height placeholder to avoid position shift #}
                    <div class="d-none d-sm-block">
                        <div class="row align-items-center justify-content-center" style="height: 169px;">
                            <div class="loader-ellipsis"></div>
                        </div>
                    </div>
                    <div class="d-block d-sm-none">
                        <div class="row align-items-center justify-content-center" style="height: 275px;">
                            <div class="loader-ellipsis"></div>
                        </div>
                    </div>
                </div>
                <div class="hx-swap-target" hx-ext="path-params"
                    hx-include="select[name=locale], select[name=transport], input[name=no]">
                    {% include "bookmark/partials/options.jinja" %}
                </div>
            </div>

            <div class="form-group text-end pt-3">
                {{ form.submit(class="btn btn-primary btn-customized") }}
            </div>

        </form>
    </div>
</div>
{% endblock content %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

<script>

    var choices;

    document.addEventListener("DOMContentLoaded", function(event) {
        choices = new Choices('select[name=no]', {
            allowHTML: false, // suppress warn msg
        });
    })

    document.addEventListener("htmx:afterOnLoad", function (event) {
        if (event.target.id == "transport") {
            choices = new Choices('select[name=no]', {
                allowHTML: false, // suppress warn msg
            });
        }
    })


</script>
{% endblock script %}