{% from "macros/render_field.jinja" import render_field %}


{% extends "layout.jinja" %}
{% block title %}{{ _('nav_bookmark') }}{% endblock title %}


{% block nav %}
{% include "includes/navbar.jinja" %}
{% endblock nav %}


{% block link %}
{% endblock link %}


{% block content %}
<div class="container-xxl">
    <div class="row m-2">
        {% include "includes/flash.jinja" %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="btn-group flex-wrap">
                <a href="{{ url_for('bookmark_group.create') }}" class="btn btn-secondary btn-sm btn-success mx-1">
                    {{ _('create') }}
                </a>

                {# <div x-data>
                    <form method="POST" enctype="multipart/form-data">
                        <input type="file" name="bookmarks" class="d-none" @upload.window="$el.click()"
                            @change="$event.target.form.submit()">
                        <button type="button" class="btn btn-secondary btn-sm btn-info mx-1"
                            @click="$dispatch('upload')">
                            {{ _('import') }}
                        </button>
                    </form>
                </div>

                <a href="{{ url_for('bookmark.index') }}?action=export" class="btn btn-secondary btn-sm mx-1">
                    {{ _('export') }}
                </a> #}
            </div>
        </div>
    </div>

    <div class="row p-2">
        <div class="col">
            <form>
                <div class="table-responsive">
                    <table class="table table-striped" hx-get="" hx-trigger="load delay:1ms" hx-target="tbody"
                        hx-on::before-request="showLoading(200)" hx-on::after-settle="hideLoading()" style="min-width: 300px;">
                        <thead>
                            <tr>
                                <th>{{ _('bookmark_group_name') }}</th>
                                <th>{{ _('bookmark_count') }}</th>
                                <th>{{ _('referenced_schedules_count') }}</th>
                                <th>{{ _('action') }}</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block script %}
{% endblock script %}