{% for group in groups %}
<tr>
    <td>{{ group.name }}</td>
    <td>{{ group.bookmarks | length }}</td>
    <td>{{ group.schedules | length }}</td>
    <td>
        <div class="d-inline-flex" style="gap: 2px;">
            <button type="button" class="dt-action btn btn-danger btn-sm"
                hx-delete="{{ url_for('bookmark_group.delete', id_=group.id) }}" title="{{ _('delete') }}">
                <i class="bi bi-trash"></i>
            </button>
            <a class="dt-action btn btn-success btn-sm" href="{{ url_for('bookmark_group.edit', id_=group.id) }}"
                title="{{ _('edit') }}">
                <i class="bi bi-pencil-square"></i>
            </a>
            <a class="dt-action btn btn-success btn-sm" href="{{ url_for('bookmark.index', bgid=group.id) }}">
                <i class="bi bi-bar-chart-steps"></i>
            </a>
        </div>
    </td>
</tr>
{% endfor %}
{% if groups | length == 0 %}
<tr>
    <td colspan="100%" class="d-table-cell text-center">{{ _('no_record') }}</td>
</tr>
{% endif %}