{% extends "layout.jinja" %}
{% block title %}{{ _('nav_home') }}{% endblock title %}


{% block link %}
<link href="https://cdn.jsdelivr.net/gh/superdumbtm/rpc-table@0.1.2/dist/rpc-table.min.css" rel="stylesheet">
{% endblock link %}


{% block style %}
<style>
    .card-header {
        background-color: var(--theme-4-color);
    }

    .rpc tbody > tr.child span.rpc-child-title {
        min-width: 100px;
    }
</style>
{% endblock style %}


{% block nav %}
{% include "includes/navbar.jinja" %}
{% endblock nav %}


{% block content %}
<div class="container">

    <div class="row my-3">
        <div class="col-12">
            {% include "includes/flash.jinja" %}
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ _('refresh_history') }}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" hx-get="{{ url_for('root.histories') }}" hx-trigger="load, every 60s"
                            hx-target="tbody" hx-swap="innerHTML" hx-on::after-settle="rpc.process(); hideLoading()">
                            <thead>
                                <tr>
                                    <th scope="col">{{ _('time') }}</th>
                                    <th scope="col" class="collapse-sm">{{ _('eta_format') }}</th>
                                    <th scope="col">{{ _('layout') }}</th>
                                    <th scope="col">{{ _('is_partial') }}</th>
                                    <th scope="col" class="collapse-md">{{ _('error') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ _('screen_content') }}
                </div>
                <div class="card-body">
                    <p class="card-text text-muted">
                        {{ _('screen_content_help') }}
                    </p>

                    <div class="row" hx-get="{{ url_for('root.screen_dumps') }}" hx-trigger="load, every 60s"
                        hx-indicator=".htmx-spinner"></div>
                    <div class="row text-center">
                        <div class="col-12">
                            <span class="htmx-spinner my-5"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ _('E-Paper') ~ ' ' ~_('setting') }}
                </div>
                <div class="card-body">
                    <p class="fw-bold mb-2">
                        <i class="bi bi-building"></i> {{ _('brand')}}
                    </p>
                    <hr>
                    {{ app_conf.get('epd_brand') | title }}

                    <p class="fw-bold mb-2 mt-3">
                        <i class="bi bi-building"></i> {{ _('model')}}
                    </p>
                    <hr>
                    {{ app_conf.get('epd_model') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block script %}
<script src="https://cdn.jsdelivr.net/gh/superdumbtm/rpc-table@0.1.2/dist/rpc-table.min.js"></script>

<script>
    const rpc = new RpcTable('table');
</script>
{% endblock script %}