<div class="form-group">
    {{ form.no.label(class="form-label") }}
    {{ form.no(class="form-select" + form_valid_class(form.no), **{
    "hx-ext": "path-params",
    "hx-get": url_for("bookmark.options", transport='{transport}', no='{no}') | unquote,
    "hx-trigger": "change" if editing else "load, change delay:500ms",
    "hx-target": "#options .hx-swap-target",
    "hx-include": "select[name=locale], select[name=transport]",
    "hx-vals": '{"pos": "no"}',
    "hx-indicator": "#options.hx-load-outer"
    }) }}
    <div class="invalid-feedback">
        {% for error in form.no.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
</div>